#mainContent{
  width: 80%;
  height: 200px;
  box-shadow: 0 0 30px rgba(138, 138, 138, 0.493);
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 20px;
  z-index: 200;
  background: #fff;
}
h1{
  color: #fff;
  font: 'Montserrat';
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}
#backColor{
  z-index: -1;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}